<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程 -->
<Configuration status="debug">
	<properties>
		<property name="LOG_HOME">F:/data/spr-usermanager</property>
		<property name="INFO">${LOG_HOME}/INFO</property>
		<property name="ERROR">${LOG_HOME}/ERROR</property>
	</properties>

	<!-- 将配置好的log4j2.xml 放到项目的classpath下即可 -->
	<!-- 日志封装类对真正行号已做处理，配置文件中不需配置 -->
	<!-- Appenders -->
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level %logger{36}: %msg%n" />
		</Console>

		<!-- ERROR日志 -->
		<RollingRandomAccessFile name="ERROR" fileName="${ERROR}/ERROR.log"
								 filePattern="${ERROR}/%d{yyyy-MM-dd}/ERROR.%d{yyyy-MM-dd-HH}.log">
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level %logger{36}: %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>

		<!-- INFO日志 -->
		<RollingRandomAccessFile name="INFO" fileName="${INFO}/INFO.log"
								 filePattern="${INFO}/%d{yyyy-MM-dd}/INFO.%d{yyyy-MM-dd-HH}.log">
			<Filters>
				<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL" />
				<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			</Filters>
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level %logger{36}: %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
		</RollingRandomAccessFile>
	</Appenders>


	<Loggers>
		<Logger name="org.springframework" level="WARN"/>

		<logger name="cn.threegiants.sprusermanager.business.mapper" level="DEBUG"></logger>
		<logger name="org.mybatis" level="DEBUG"></logger>

		<Logger name="java.sql" level="debug"/>
		<Logger name="java.sql.Statement" level="debug"/>
		<Logger name="java.sql.ResultSet" level="debug"/>
		<Logger name="java.sql.PreparedStatement" level="debug"/>

		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="ERROR" />
			<AppenderRef ref="INFO" />
		</Root>
	</Loggers>
	<!--
        %d{HH:mm:ss.SSS}——日志输出时间
        %thread——输出日志的进程名字，这在Web应用以及异步任务处理中很有用
        %-5level——日志级别，并且使用5个字符靠左对齐
        %logger{36}——日志输出者的名字
        %msg——日志消息
        %n——平台的换行符
    -->

</Configuration>